.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Establece el color de texto en negro para la clase "boton-negro" */
.boton-negro {
  color: black; /* Cambia el color del texto a negro */
  /* Otros estilos que desees aplicar al botón */
}


.fondo-color {
  background-color: #1B2146; /* Cambia el color de fondo según tus preferencias */
  color: white; /* Cambia el color del texto a blanco o cualquier otro color que desees */
  padding: 10px; /* Añade un espaciado interior para mejorar la legibilidad */
}

/* Establece el color del texto en blanco para toda la aplicación */
body, p, h1, h2, h3, h4, h5, h6, a, button, label, input, select, textarea {
  color: white;
}


.App-header {
  background-image: url("fondo1_.jpg"); /* Ruta relativa a la carpeta public */
  background-size: contain; /* Ajusta el tamaño de la imagen al contenedor */
  background-repeat: repeat-y; /* Evita la repetición de la imagen */
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  font-size: calc(15px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}